@import url(http://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic);



*{	
	margin: 0px;
	padding: 0px;
	background-color: ivory;
}


h1{ 
	font: bold 20px Parisienne;
}

h2{ 
	font: bold 14px Parisienne;
}

header, section, footer, aside, nav, article, hgroup {
	display: block;
}

body{
	width: 100%;
	text-align:center;
}


header aside {
	float: right;
	font: bold italic 16px Fanwood;
	margin-right: 150px;
}

#kogu{
	margin: 20px 0px;
	/*border: 1px solid black;*/
	width: 1000px;
	margin: 20px auto;
	text-align: left;

}

#milou{
	margin-left: 300px;
	font-size: 70px;
	font-family: Parisienne;
	text-align: left;
	padding: 20px;	

}




nav a{
	display:inline-block;
	padding: 10px;
	font: bold 25px Fanwood;
	
}


nav #search-designe {
	margin-bottom: 0px;
	margin-top: 5px;
	padding: 0px;
	float: right;
	height: auto;
	text-align: left;
	display: block;
	margin-right: 100px;
	background-color: #FFFFFF;
	border-bottom: 1px solid black;
	border-top:none;
	border-left: none;
	border-right: none;
	font: italic bold 20px Fanwood;
}


/*
#new {
	display: -webkit-box;
	-webkit-box-orient:horizontal;

}
*/
/*
#main_section { 
	 /*
	border: 1px solid black;
	-webkit-box-flex: 1;
	margin: 30px;
	padding: 10px;
	*/
/*
	float: left;
	width: 660px;
	margin: 30px;
	
	
}
*/

#vasak {
	float: left;
	width: 330px;
	margin: 50px 0px;
	padding: 5px;
}

#parem {
	position: relative;
	float: left;
	width: 330px;
	margin: 50px 0px;
	padding: 5px;
}



#side {
	/*
	border: 1px solid black;
	width: 125px;
	margin: 30px 10px;
	padding: 30px;
	*/
	float: left;
	width: 220px;
	margin: 15px 0px;
	padding: 20px;
	
}

#side h4 {
	text-align: left;
	font-family:Fanwood;
	font-size: 18px; 
	padding: 5px;
	border-bottom: 1px dotted black;
	margin-top: 15px;
}

#side h2 {
	
	text-align: left;
	font-family:Fanwood;
	padding: 5px;
	font-size: 14px; 
}





#the_footer {
clear: both;
height: auto;
width: auto;
margin: 0px;
padding: 15px 0 15px 0;
display: block;
line-height: 16px;
border-top: 3px solid;
}

#footer-left {
margin: 0px;
padding: 0px;
float: left;
height: auto;
width: 45%;
text-align: left;
position: relative;
font-family: Fanwood;
}

#page_up {margin: 0px;
padding: 0px;
float: left;
height: auto;
text-align: center;
position: relative;
font-family: Fanwood;

}


#footer-right{
margin: 0px;
padding: 0px;
float: right;
height: auto;
width: 45%;
text-align: right;
position: relative;
font-family: Fanwood;
}




article {
	border: 1px solid black;
	height: 250px;
	padding: 20px;
	margin-bottom: 15px;
	display: block;
	

}

article img {
	width:100px;
	padding: 5px;
	float: left;
}




article footer {
	text-align: right;
	font-size: 10px;
	
}

a {	text-decoration:none;
	color:black;
}