body{
	background-color: ivory;
}

#wrapper {
	padding: 0px;
	height: auto;
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#container {
	padding: 0px;
	height: auto;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#header {
	margin: 0px;
	clear: both;
	height: auto;
	width: 100%;
	/*background-repeat: repeat-x;*/
	background-position: center top;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1.5em;
	padding-left: 0px;
}

#topbanner {
	list-style-type:none; 
	margin: 0%;
	float: right;
	height: 8%;
	/*width: initial;*/
/* margin-top: 59px; */
	text-align: right;
	display: block;
	/*background: black;*/ 
}
#siteinfo{
	text-decoration: none;
	color: black;
	font-size: 40px;
	margin: 0px;
	float: left;
	height: 158px;
	width: 262px;
	padding-right: 0px;
	padding-left: 25%;
	text-align: center;
	display: block;
}

#time{
	text-decoration: none;
	color: black;
	font-size: 100%;
	margin: 0px;
	float: left;
	padding-right: 0px;
	text-align: inherit;
	display: block;
	vertical-align: bottom;
}



#login{
	text-decoration: none;
list-style-type:none; 
	vertical-align: top;
	margin-top: 14px;
	
}
#pildike h2 a{
	text-decoration: none;
	color: black;
}

ul a{
	color: black;
	font-family: 'Flamenco', cursive;
}

ul li {
		/* Setting a common base */
		list-style-type: none;
		margin: 0;
		padding: 0;
		color: black;
	}

	
#teemad {
	padding: 0px;
	clear: both;
	height: 41px;
	width: 100%;
	display: block;
	margin: 0px;
	border-top: 1px solid #999;
	border-bottom: 2px solid;}
#dropmenu li {
	list-style-type: none;
	text-align: center;
	width: auto;
	display: block;
	float: left;
	height: auto;
	margin: 0px;
	padding: 0px;
	list-style-image: none;
}
#dropmenu li a {
text-align: center;
list-style-type: none;
width: auto;
text-decoration: none;
font-size: 14px;
height: 19px;
color: #000;
text-transform: uppercase;
margin: 0px;
padding-top: 10px;
padding-right: 12px;
padding-bottom: 12px;
padding-left: 12px;
font-weight: bold;

}
#main {
margin: 0px;
padding: 0px;
clear: both;
height: auto;
width: 100%;
}


#sisu {
float: left;
width: 664px;
margin: 0px;
height: auto;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 3em;
padding-left: 0px;
}

#sisucontainer {
height: auto;
width: auto;
padding-top: 0px;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 10px;
margin-bottom: 0px;
margin-left: 8px;
}

#sisukoht {
display: block;
margin: 0px;
padding: 0px;
clear: both;
height: auto;
width: 100%;
}
#sisukoht .artikli-sisu {
float: left;
width: 300px;
height: 300px;
margin-top: 0px;
margin-right: 20px;
margin-bottom: 10px;
margin-left: 0px;
text-shadow: 0px 1px 1px #fff;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 10px;
padding-left: 0px;
}

#sisukoht  .pildike{

	padding: 0px;
	margin: 0px;
}

#sisukoht  .pildike .aligncenter {
width: 305px;
height: 135px;
padding: 5px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 5px;
margin-left: auto;
border: 1px solid #ECE9D8;
background-color: #FFFFFF;
font-weight: bold;
}
#sisukoht .artikli-sisu .kirjeldus {
display: block;
margin: 0px;
padding: 0px;
clear: both;
height: auto;
width: 100%;
font-size: 14px;
color: black;
line-height: 16px;
}

#sisukoht .artikli-sisu a {
color: #000000;
text-decoration: none;
}


#sisukoht .artikli-sisu .pildike .aligncenter {
padding: 5px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 5px;
margin-left: auto;
border: 1px solid #ECE9D8;
background-color: #FFFFFF;
}
.paranda{
	clear: both;
}
#sidebar {
margin: 0px;
float: right;
height: auto;
width: 336px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 3em;
padding-left: 0px;
}
ul.sidebarlist li {
display: block;
clear: both;
height: auto;
width: auto;
list-style-image: none;
list-style-type: none;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 10px;
margin-left: 0px;
position: relative;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
padding: 0px;
}

ul.sidebarlist .categories .sissekanne {
margin: 0px;
padding: 0px;
clear: both;
height: auto;
width: 100%;
font-size: 12px;

}

.sissekanne-meta h2 {
display: block;
clear: both;
height: auto;
width: auto;
margin: 0px;
border-top-width: 1px;
border-top-style: dotted;
border-bottom-width:1px; 
border-bottom-style:dotted; 
padding: 10px;
padding-left: 0px;
font-size: 16px;
}

#search {
padding: 0px;
float: right;
height: auto;
width: 17%;
text-align: right;
display: block;
margin-right: 3px;


}

#search #search-designe{
margin: 0px;
padding: 0px;
width: 94%;
background-color: #FFFFFF;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left: 1px solid;
font-family: 'PT Serif', serif;

}

#footer {
clear: both;
height: auto;
width: auto;
margin: 0px;
padding: 15px 0 15px 0;
display: block;
line-height: 16px;
border-top: 3px solid;
}

#footer-left {
margin: 0px;
padding: 0px;
float: left;
height: auto;
width: 49%;
text-align: left;
position: relative;
}

#footer-right{
margin: 0px;
padding: 0px;
float: right;
height: auto;
width: 49%;
text-align: right;
position: relative;
}
#footer-right a{
	text-decoration: none;
	color: black;
}
#page-up a{
	text-decoration: none;
	color: black;
	font-family: 'Flamenco', cursive;
}

table  a{
	text-decoration: none;
	color: black
}

#footer-right a{
	text-decoration: none;
	color: black;
}
#sisukoht p{
	padding: 0px;
	margin: 20px;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 40px;
	text-align: center;

}
#sisukoht img{
	height: 200px;
	width: 640px;
	padding: 0px;
	margin: 0px;
	
}
table td{
	vertical-align: top;
}
table td h2{
	margin: 0px;
	padding: 0px;
	text-align: left;
}
table td div{
	padding: 2px;
	margin: 2px;}


#loginfb{
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	background: rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(225, 225, 225, 0.5);
	color: white;
	font:bold;
	font-family: Sans-serif;
	text-align:center;

}
#logout{
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	background: rgba(0,0,0,0.8);
	box-shadow: inset 0px 2px 10px rgba(225, 225, 225, 0.5);
	color: white;
	font:bold;
	font-family: Sans-serif;
	text-align:center;

}
#profileArea{
	height: 100px;
	/*width: 200px;*/
	font-family: "Times New Roman", Times, serif;

}



