<head>
	<title>Milou</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<script src="http://code.jquery.com/jquery-1.11.0.js"></script>
		<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=signinCallback"></script>
		<script type="text/javascript" src="resources/js/logins.js" ></script>
		<link href="resources/css/minu.css" rel="stylesheet" type="text/css">


				<!-- lisatud
				<script type="text/javascript" src="resources/js/articleFromAside.js" ></script>
				<script type="text/javascript" src="resources/js/aside.js" ></script>

				-->



        <script type="text/javascript" src="resources/js/mainArticles.js" ></script>


</head>

