<div id = "menuu">
	<section id="menuud">
		<nav><!--id="menu"-->
			<div id = "nav_kast">
			<a href="pages/category_it.html">IT</a>  
			<a href="pages/category_culture.html">Kultuur</a> 
			<a href="pages/category_sport.html">Sport</a> 
			<a href="pages/category_economy.html">Majandus</a> 
			<a href="pages/category_comics.html">Koomiks</a> 
			<a href="pages/category_crime.html">Krimi</a>
			</div>
		</nav><!--kogu nav  lopp-->
	</section>

	<section id="otsingud">
			<input id ="search-designe" type="text" value="Otsing...">
	</section>
</div>