<div id = "menuu">
	<section id="menuud">
		<nav><!--id="menu"-->
			<div id = "nav_kast">
			<a hre="pages/category_it.html" class="category" id = "it">IT</a>
			<a hre="pages/category_culture.html" class="category" id = "kultuur">Kultuur</a>
			<a hre="pages/category_sport.html" class="category" id = "sport">Sport</a>
			<a hre="pages/category_economy.html" class="category" id = "majandus">Majandus</a>
			<a hre="pages/category_comics.html" class="category" id = "koomiks">Koomiks</a>
			<a hre="pages/category_crime.html" class="category" id = "krimi">Krimi</a>
			</div>
		</nav><!--kogu nav  lopp-->
	</section>


</div>